@import url("./styles/presentation.css");
@import url("./styles/about-me.css");
@import url("./styles/tech-stack.css");
@import url("./styles/projects.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --main-font: 'Josefin Sans', sans-serif;

    --main-color: #FFFFFF;
    --base-color: #000000;
    --contrast-color: rgb(230, 195, 55);
    --secondary-color: #D0CDD6;
    --main-background-color: #333232;
    --second-background-color: #3C3C3C;
    --third-backgroud-color: #F6F6F6;
}

body {
    font-family: var(--main-font);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}