.section-about__me {
    height: 60vh;
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.section-about__me .about__me__content {
    width: 30%;
    position: relative;
}

.section-about__me .about__me__title {
    color: var(--contrast-color);
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 1.2em;
}

.section-about__me .about__me__subtitle,
.about__me__job {
    font-size: 36px;
    color: var(--main-color);
    font-weight: 500;
}

.section-about__me .about__me__job {
    padding-top: 0.2em;
}

.section-about__me .about__me__location {
    color: var(--main-color);
    font-size: 20px;
    padding: 0.5em 0 2em 0;
}

.section-about__me .about__me__description {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.5em;
}