.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3em 0;
    background-color: var(--main-background-color);
}

.footer__text {
    font-size: 18px;
    text-align: center;
    color: var(--main-color);
}