.section-presentation {
    background-color: var(--main-background-color);
    text-align: center;
    padding: 3em;
}

.sidebar {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-bottom: 3em;
}

.sidebar__link .fa-brands,
.fa-solid {
    color: var(--main-color);
    font-size: 2em;
}

.presentation__hello,
.presentation__job {
    color: var(--main-color);
    font-weight: 700;
}

.presentation__name {
    color: var(--contrast-color);
    font-size: 30px;
    font-weight: 700;
    margin: 0.5em 0;
}

.presentation__hello {
    font-size: 18px;
}

.presentation__job {
    font-size: 22px;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.presentation__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 0.5em;
    border: 2px solid var(--contrast-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 1em;
}

.presentation__button .fa {
    font-size: 15px;
}

.presentation__button .button__title {
    font-size: 15px;
    font-family: var(--main-font);
    font-weight: 500;
}

.container__buttons .resume {
    color: var(--main-color);
    background-color: var(--contrast-color);
    margin-top: 3em;
}

.container__buttons .about {
    color: var(--contrast-color);
}

@media screen and (min-width: 1024px) {
    .section-presentation {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-items: start;
        padding: 10em 0;
    }

    .sidebar {
        padding-left: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .fa-brands:hover,
    .fa-solid:hover {
        color: var(--contrast-color);
        transform: scale(1.1);
    }

    .presentation__name {
        font-size: 50px;
    }

    .presentation__hello {
        font-size: 20px;
    }

    .presentation__job {
        font-size: 30px;
    }

    .container__buttons .resume:hover {
        color: var(--contrast-color);
        background-color: transparent;
    }
    
    .container__buttons .about:hover {
        color: var(--main-color);
        background-color: var(--contrast-color);
    }
}

@media screen and (min-width: 1728px) {
    .section-presentation {
        padding: 18em 0;
    }

    .sidebar__link .fa-brands,
    .fa-solid {
        font-size: 3em;
    }

    .container__presentation {
        text-align: center;
    }

    .presentation__name {
        font-size: 60px;
    }

    .presentation__job {
        font-size: 36px;
    }

    .container__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }

    .presentation__button {
        gap: 0.7em;
        padding: 1.2em 2em;
        margin-top: 2.5em;
        cursor: pointer;
    }

    .presentation__button .fa {
        font-size: 16px;
    }

    .presentation__button .button__title {
        font-size: 18px;
    }

    .container__buttons .resume {
        margin-top: 2.5em;
    }
}