@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

:root {
    --main-font: 'Josefin Sans', sans-serif;

    --main-color: #FFFFFF;
    --contrast-color: rgb(230, 195, 55);
    --secondary-color: rgb(253, 246, 215);
    --main-background-color: #333232;
    --second-background-color: #3C3C3C;
}

body {
    font-family: var(--main-font);
}

.section-presentation {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--main-background-color);
}

.sidebar {
    position: absolute;
    left: 0;
    top: 35%;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.sidebar__link .fa-brands,
.fa-solid {
    color: var(--main-color);
    font-size: 3em;
}

.fa-brands:hover,
.fa-solid:hover {
    color: var(--contrast-color);
    transform: scale(1.1);
}

.container__presentation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.presentation__hello,
.presentation__job {
    color: var(--main-color);
    font-weight: 700;
}

.presentation__name {
    color: var(--contrast-color);
    font-size: 60px;
    font-weight: 700;
    margin: 0.5em 0;
}

.presentation__hello {
    font-size: 18px;
}

.presentation__job {
    font-size: 36px;
}

.container__buttons {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.presentation__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7em;
    text-decoration: none;
    border: 2px solid var(--contrast-color);
    border-radius: 5px;
    padding: 1.2em 1.8em;
    margin-top: 2.5em;
    cursor: pointer;
}

.presentation__button .fa {
    font-size: 16px;
}

.presentation__button .button__title {
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 500;
}

.container__buttons .resume {
    color: var(--main-color);
    background-color: var(--contrast-color);
}

.container__buttons .resume:hover {
    color: var(--contrast-color);
    background-color: transparent;
}

.container__buttons .about {
    color: var(--contrast-color);
}

.container__buttons .about:hover {
    color: var(--main-color);
    background-color: var(--contrast-color);
}

/* Second section */

.section-about__me {
    height: 60vh;
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.section-about__me .about__me__content {
    width: 30%;
    position: relative;
}

.section-about__me .about__me__title {
    color: var(--contrast-color);
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 1.2em;
}

.section-about__me .about__me__subtitle,
.about__me__job {
    font-size: 36px;
    color: var(--main-color);
    font-weight: 500;
}

.section-about__me .about__me__job {
    padding-top: 0.2em;
}

.section-about__me .about__me__location {
    color: var(--main-color);
    font-size: 20px;
    padding: 0.5em 0 2em 0;
}

.section-about__me .about__me__description {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.5em;
}